@using SportCommentary.Service.Interfaces
@using SportCommentaryDataAccess.DTO.SingleCommentary


@if (singleComments == null)
{
                <MudContainer Class="d-flex justify-center">
                    <MudProgressCircular  Color="Color.Primary" Indeterminate="true"/> 
                </MudContainer>
}
else{
     <div Class="allSingleContainer">
        <ul>
         @foreach (var singleComm in singleComments)
           {
             <li>
               <MudContainer>
                    <MudCard Class="mt-4">
                      <MudCardContent>
                        <div class="cntrFlex">
                                    @if (singleComm.Event != null && !string.IsNullOrEmpty(singleComm.Event.Icon))
                                    {
                                           <img src="@singleComm.Event.Icon"/>
                                    }
                                    else
                                    {
                                           <img src="/img/info.png" alt="info image"/>
                                    }
                                    
                                    <div class="ml-5">
                                            <MudText Typo="Typo.body2">@singleComm.Time</MudText>
                                            <MudText Typo="Typo.subtitle2">@singleComm.Title</MudText>
                                            <MudText Typo="Typo.subtitle1">@singleComm.Description</MudText>
     
                                    </div>
                             
                                  
                        </div>
                     </MudCardContent>
                    </MudCard>
              </MudContainer>
             </li>
           }
        </ul>
     </div>   
}

@code {
    [Parameter]
    public string commentryId { get; set; }
    [Parameter]
    public List<SingleCommentDTO>? singleComments { get; set; }
}
