@using SportCommentary.Service.Interfaces
@using SportCommentaryDataAccess.DTO.SingleCommentary


@if (singleComments == null)
{
                <MudContainer Class="d-flex justify-center">
                    <MudProgressCircular  Color="Color.Primary" Indeterminate="true"/> 
                </MudContainer>
}
else{
     <div Class="allSingleContainer">

     </div>
    foreach (var singleComm in singleComments)
    {
        <MudContainer Fixed="true">
        <MudCard Class="mt-4">
        <MudCardContent>
                    <MudText Typo="Typo.h3">@singleComm.Title</MudText>
                    <MudText Typo="Typo.h4">@singleComm.Description</MudText>
            <MudText Typo="Typo.body2">@singleComm.Description</MudText>
                    @if (singleComm.Event != null && !string.IsNullOrEmpty(singleComm.Event.Icon))
                    {
                       <img src="@singleComm.Event.Icon"/>
             }
             else{
                  <img src="/img/info.png" alt="info image"/>
             }

        </MudCardContent>
        </MudCard>
    </MudContainer>
    }
        
}

@code {
    [Parameter]
    public string commentryId { get; set; }
    [Parameter]
    public List<SingleCommentDTO>? singleComments { get; set; }
}
