@using SportCommentary.Service.Interfaces
@using SportCommentaryDataAccess
@using SportCommentaryDataAccess.DTO.Commentary

@inject ICommentaryService _commentaryService
@inject ISnackbar Snackbar

@if (downloadDataError)
{
          <DownladDataError ErrorMessage="@errorMessage" RefreshPage="/manageEvents"/>
}
else if (commentaries == null)
{
            <MudContainer Class="d-flex justify-center">
                <MudProgressCircular  Color="Color.Primary" Indeterminate="true"/> 
            </MudContainer>
}
else{
        <MudPagination SelectedChanged="OnPageChange" Class="mb-5 mt-5" Color="Color.Primary" Count="commentaries.TotalPages" />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var comm in commentaries.Items)
    {
            if (string.IsNullOrEmpty(comm.CommentaryImage)){
                comm.CommentaryImage = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=";
            }
      <div class="col">
        <div class="card h-100">
          <img src="@comm.CommentaryImage" class="card-img-top" alt="commentary image">
          <div class="card-body">
            <h5 class="card-title">@comm.Caption</h5>
            <p class="card-text">@comm.Description</p>
          </div>
        </div>
      </div>
    }
   </div>
           
}

@code {
    private PagedList<CommentaryDTO>? commentaries;
    private bool downloadDataError = false;
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
         await GetCommenteries(1);
    }


    private async Task GetCommenteries(int id)
    {
        var getAllResponse = await _commentaryService.GetAllCommentaryAsync(id);
        if (getAllResponse.Success)
        {
            downloadDataError = false;
            errorMessage = "";
            commentaries = getAllResponse.Data;
            return;
        }
        HandleBadResult(getAllResponse.Message, true);
    }

    private void HandleBadResult(string errMsg, bool downloadDataErrorP)
    {
        if (downloadDataErrorP)
        {
            errorMessage = errMsg;
            downloadDataError = true;
        }
        else
        {
            Snackbar.Add(errMsg, Severity.Error);
        }
    }

    private async Task OnPageChange(int Id)
    {
        await GetCommenteries(Id);
    }
}
