@page "/manageTypes"
@attribute [Authorize(Roles = "Admin")]
@using SportCommentary.Components

@{
    var title = "Zarządzaj typami";
}
<PageHeaderTitle Title="@title"/>
@code {
    bool OverLayIsVisible = false;

    private void OpenOverlay()
    {
        OverLayIsVisible = true;
        StateHasChanged();
    }
}
<MudOverlay ZIndex="9999" @bind-Visible="OverLayIsVisible" DarkBackground="true" >
     <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
</MudOverlay>

<div class="container">   
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card">
   <NavLink href="manageSports" onclick="@OpenOverlay"> 
    <img class="card-img-top" src="/img/sport.png" alt="Sports image">
    <div class="card-body">
      <h5 class="card-title text-center">Sporty</h5>
       <p class="card-text">Zarządzaj typami sportów i dodawaj nowe sporty z których można prowadzić realcje.</p>
    </div>
      </NavLink>
  </div>

  <div class="card">
   <NavLink href="manageSports"> 
    <img class="card-img-top" src="/img/event.png" alt="Events image">
    <div class="card-body">
      <h5 class="card-title text-center">Wydarzenia</h5>
      <p class="card-text">Zarządzaj wydarzeniami możliwymi do wystąpenia w wybranym sporcie (np. gol lub czerwona kartka).</p>
    </div>
   </NavLink>
  </div>
  <div class="card">
   <NavLink href="manageSports"> 
    <img class="card-img-top" src="/img/relation.png" alt="Commentary image">
    <div class="card-body">
      <h5 class="card-title text-center">Relacje</h5>
      <p class="card-text">Przeglądaj historię przeprowadzonych relacji sportowych.</p>
    </div>
   </NavLink>
  </div>
</div>
</div>