@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Zarządzaj swoim kontem</h1>

@{
    if(User.IsInRole("Admin")){
        <h2>Jesteś administratorem</h2>
        <a class="nav-link" id="manageUsers" asp-page="../ManageUsers">Zarządzaj użytkownikami</a>
    }
}

<div>
    <hr />
    <div class="row">
       
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
