<AuthorizeView>
    <Authorized>
        <a class="text-dark text-decoration-none" href="Identity/Account/Manage">Witaj, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="btn btn-outline-dark ms-2">Wyloguj</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a role="button" class="btn btn-outline-dark" href="Identity/Account/Register">Rejestracja</a>
        <a role="button" class="btn btn-outline-dark" href="Identity/Account/Login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>
