<AuthorizeView>
    <Authorized>
        <MudNavLink class="text-decoration-none" Href="Identity/Account/Manage">Witaj, @context.User.Identity?.Name!</MudNavLink>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton Class="mt-4 mb-4 btnLogout" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Wyloguj</MudButton>
        </form>
    </Authorized>
    <NotAuthorized> 
        <MudButton Size="Size.Small"  Class="mt-4 ml-2 mr-2 mb-4" Variant="Variant.Filled" Color="Color.Secondary" href="Identity/Account/Register">Rejestracja</MudButton>
        <MudButton Size="Size.Small"  Class="mt-4 mb-4" Variant="Variant.Filled" Color="Color.Secondary" href="Identity/Account/Login">Logowanie</MudButton>
    </NotAuthorized>
</AuthorizeView>
