@inherits LayoutComponentBase

<PageTitle>Sport Commentary</PageTitle>

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar >
        <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a href="/" Typo="Typo.h5">Sport Commentary<i class="ml-2 fa-solid fa-volleyball"></i></a>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="mt-3 pl-3">
        @Body
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Red.Darken2,
                Secondary = Colors.Grey.Default,
                AppbarBackground = Colors.Grey.Darken2,
                Background = Colors.Grey.Lighten4,
                DrawerBackground = Colors.Grey.Lighten3,
                
            },
            PaletteDark = new Palette()
            {
                Primary = Colors.Blue.Lighten3
            },
        };
}